.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
    font-size: 1.75rem;
    margin: 2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .movie__list {
        padding: 0 1rem 1rem 1rem;
    }

    .list__title {
        margin: 1.5rem;
        font-size: 1.5rem;
    }
}