.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    .headerLeft, .headerRight {
        flex-direction: column;
        gap: 1rem;
    }
    a > span {
        margin: 0 15px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .headerLeft, .headerRight {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}